<% if @no_media %>
	<%= render "no_media" %>
<% else %>
	<% testing = false %>
	<% unless testing %>
		<div id="slideshow">
			<div id="<%= @media_id %>" class="image first" style="background-image:url('<%= @starting_url %>')" data-mtype="<%= @media_type %>" data-hashtag="<%= @hashtag %>"></div>
			<div id="buffer" class="image second"></div>
		</div>
	<% else %>
		<p>
			<%= @starting_url %>
		</p>
	<% end %>
<% end %>
